/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

/* Add Stock panel */
.nextButtonPanel {
  margin: 10px 0px 15px 0px;
}

.exportButton {
  display: block;
  font-size: 16pt;
}

/* table header row */
.tableHeader {
  background-color: #006600;
  color: white;
  font-weight: bold;
}

/* flex table */
.table {
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
